<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
        <link rel="stylesheet" href="./../static/css/login.css">
        <title>Login</title>
    </head>
    <body>
        <header>
            <nav class="nav justify-content-center p-2 " class="nav_background">
                <h2 class="nav-item" class="nav_tittle">
                    "Hola"
                </h2>
            </nav>
        </header>
        <main class="p-5">
            <div class="d-flex flex-row bd-highlight justify-content-center align-items-center rounded shadow p-3 mb-5 bg-body rounded" class="container_form_image">
                <div class="container_login_image">
                    <img class="img-fluid w-50 mh-100" class="login_image" src="./../static/images/austin-poon-JO_S6ewBqAk-unsplash (1).jpg" alt="Laptop picture “DIGITAL MINIMALISM.”">
                </div>
                <div class="container_form">
                    <form class="form_login" action="">
                        <div class="container_inputs">
                            <div class="">
                                <h2>
                                    Sign in
                                </h2>
                            </div>
                            <div>
                                {{session['ErrorMessage']}}
                            </div>
                            <div class="mb-3 row">
                                <!-- <label class="col-sm-2 col-form-label" for="email">
                                    Email Address: 
                                </label> -->
                                <img src="./../static/images/2931147_user_face_avatar_account_head_icon.png" alt="">
                                <input class="form-control-plaintext" type="email" id="email" name="email" placeholder="Email"/>
                            </div>
                            <div class="mb-3 row">
                                <!-- <label class="col-sm-2 col-form-label" for="users_password">
                                    Password: 
                                </label> -->
                                <img class="login_icon" src="./../static/images/2931147_user_face_avatar_account_head_icon.png" alt="">
                                <input class="form-control-plaintext"  type="password" name="users_password" id="users_password" placeholder="Password"/>
                            </div>
                            <div class="mb-3 row">
                                <input type="submit" value="Log in" name="buttonSubmitForm" id="buttonSubmitForm">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <footer class="nav justify-content-center p-2 "class="nav_background">
            <p>Author: Bryan Cascante Vargas<br>
            <a href="#">bryancvargas20@gmail.com</a></p>
        </footer>
    </body>
</html>
