<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
        <link rel="stylesheet" href="./../static/css/login.css">
        <title>Login</title>
    </head>
    <body>
        <header>
            <nav class="nav justify-content-center p-2 " class="nav_background">
                <h2 class="nav-item" class="nav_tittle">
                    "Hola"
                </h2>
            </nav>
        </header>
        <main class="p-5 bg-dark">
            <div class="d-flex flex-row bd-highlight justify-content-center align-items-center rounded shadow p-3 mb-5 bg-body rounded" class="container_form_image">
                <div class="d-flex flex-column justify-content-center align-items-center w-10" class="container_login_image">
                    <img class="img-fluid w-50 mh-100" class="login_image" src="./../static/images/alessandro-bianchi-_kdTyfnUFAc-unsplash.jpg" alt="Laptop picture “DIGITAL MINIMALISM.”">
                    <a class="text-black py-2" href="/register">Create an account</a>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center" class="container_form">
                    <form class="p-4 m-5 justify-content-center align-items-center" class="form_login" action="">
                        <div class="container_inputs">
                            <div class="py-4">
                                <h2>
                                    Sign in
                                </h2>
                            </div>
                            <div>
                                {{session['ErrorMessage']}}
                            </div>
                            <div class="d-flex flex-row justify-content-center align-items-center e-5 py-3">
                                <!-- <label class="col-sm-2 col-form-label" for="email">
                                    Email Address: 
                                </label> -->
                                <img class="login_icon" src="./../static/images/2931147_user_face_avatar_account_head_icon.png" alt="user icon">
                                <input class="form-control-plaintext" type="email" id="email" name="email" placeholder="Email"/>
                            </div>
                            <div class="d-flex flex-row justify-content-center align-items-center e-5 py-3">
                                <!-- <label class="col-sm-2 col-form-label" for="users_password">
                                    Password: 
                                </label> -->
                                <img class="login_icon" src="./../static/images/2931164_clef_key_lock_unlock_password_icon.png" alt="password icon">
                                <input class="form-control-plaintext"  type="password" name="users_password" id="users_password" placeholder="Password"/>
                            </div>
                            <div class="d-flex flex-row justify-content-start align-items-center e-5 py-3">
                                <input class="mx-1" id="signin_preference" name="signin_preference" type="checkbox">
                                <label for="signin_preference"> Remember me</label>
                            </div>
                            <div class="mb-3 row">
                                <input class="btn btn-primary" type="submit" value="Log in" name="buttonSubmitForm" id="buttonSubmitForm">
                                <!-- <button class="btn btn-primary" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    <span class="visually-hidden">Loading...</span>
                                </button> -->
                            </div>
                        </div>
                    </form>
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        <p class="login_icon">Or login with </p>
                        <img class="login_icon" src="./../static/images/3225194_app_facebook_logo_media_popular_icon.png" alt="facebook icon">
                        <img class="login_icon" src="./../static/images/3225183_app_logo_media_popular_social_icon.png" alt="twitter icon">
                        <img class="login_icon" src="./../static/images/2993685_brand_brands_google_logo_logos_icon.png" alt="google icon">
                    </div>
                </div>
            </div>
        </main>
        <footer class="nav justify-content-center p-2 "class="nav_background">
            <p>Author: Bryan Cascante Vargas<br>
            <a href="#">bryancvargas20@gmail.com</a></p>
        </footer>
    </body>
</html>
